@media (max-width: 1730px) {
  body {
    height: 1300px;
  }
  header {
    margin-top: 30px;
  }
  section {
    margin-top: 130px;
  }
  .titulo-contet {
    max-width: 1200px;
  }
  .conteudo-contet {
    max-width: 800px;
    align-items: center;
  }
  .conteudo-titulo h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: rgb(7, 7, 7);
    animation: titulo 2s ease-in-out;
  }

  .conteudo-titulo p {
    font-size: 15px;
    color: rgb(14, 13, 13);
  }
  .conteudo-titulo a {
    padding: 13px 100px;
    left: 100px;
  }
  .conteudo-video {
  }
  .conteudo-video video {
    position: relative;
    left: 100px;
    width: 360px;
    height: 250px;
  }
}
