@media (max-width: 1730px) {
  body {
    height: 1300px;
  }
  header {
    margin-top: 30px;
  }
  section {
    margin-top: 130px;
  }
  .titulo-contet {
    max-width: 1200px;
  }
  .conteudo-contet {
    max-width: 1200px;
  }
  .conteudo-titulo h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(7, 7, 7);
    animation: titulo 2s ease-in-out;
  }

  .conteudo-titulo p {
    font-size: 20px;
    color: rgb(14, 13, 13);
  }
  .conteudo-video {
  }
  .conteudo-video video {
    width: 550px;
    height: 400px;
  }
}
