header {
  margin-top: 60px;
}

.titulo-contet {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 auto;
}
.titulo-1 {
  display: flex;
  align-items: center;
}
.titulo-1 h1 {
  font-size: 55px;
  margin-left: 15px;
  font-style: italic;
}
.titulo-2-contet {
  display: flex;
  align-items: center;
  gap: 10px;
}
.titulo-2-contet input,
label {
  display: none;
}
.titulo-2-flex {
  display: flex;
  gap: 80px;
}
.titulo-2-flex a {
  font-size: 30px;
  color: rgb(202, 201, 201);
  transition: 0.5s;
}
.titulo-2-flex a:hover {
  color: white;
}
